@charset "utf-8";
body,h1,h2,h3,h4,p,ul,li,ol,input,textarea,figure,form{margin:0;padding:0}
body,input,textarea{font-size:12px;font-family:microsoft yahei}
body{text-align:center;color:#33383D;background:#f1f1f1}
ul,ol{list-style:none}
img{border:0}

/* header */
.header{
	height:60px;background-color:#33363B;margin-bottom:20px;line-height:60px!important;
}

/* logo */
.logo{
	width:100px;float:left;background-position:0 0;height:40px;margin:0px 10px 0 0;display:block;
	overflow:hidden;font-size:18px;font-weight:bold;color:#fff
	}
.logo a{height:40px;display:block;color:#fff;}
.logo:hover{color:white;text-decoration:none}

/* myNav */
.myNav{float:left;margin:0 20px 0 0;text-shadow:1px 1px 1px #33363B}
.myNav li{float:left;position:relative;margin-right:1px; line-height: 60px;}
.myNav li a{color:#bbb;font-size:14px;padding:5px 12px 6px;text-decoration:none}
.myNav li a:hover,.myNav li.current-menu-item a,.myNav li.current_page_item a,.myNav li.current-post-ancestor a{color:#fff;background-color:#262626;border-radius:2px;text-decoration:none}
/* quick-menu */
.quick-menu{float:right; margin-right:20px;}
.quick-menu li{float:left}
.quick-menu li a{padding:4px 8px;color:#bbb;border:solid 2px transparent}
.quick-menu li a:hover{border-color:#555;background-color:#333}
.container-white {
	border-radius: 6px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.05);
	min-height: 500px;
	overflow: hidden;
	border-image: initial;
	padding: 10px 10px;
}
.footer {
	margin-top:10px;
	margin-bottom:10px;
	border-radius: 3px;
	background-color: #33363B;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.05);
	min-height: 20px;
	overflow: hidden;
	border-image: initial;
	text-align:center;
	color:white;
}
#myCarousel {
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.photo {
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.info,.friends{
	font-size:25px;
	font-family:microsoft yahei;
	color:black;
	text-align:left;
}
.friends { font-size:16px;  color:grey;}
.friendlist { font-size:15px;  color:black; text-align:left;}
.social{
	display:inline-block;
	width:30px;
	height:30px;
}
.github {background: url('../img/github.png') no-repeat;}
.facebook {background: url('../img/facebook.png') no-repeat;}
.twitter {background: url('../img/twitter.png') no-repeat;}
.linkedin {background: url('../img/linkedin.png') no-repeat;}